<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nueva huella
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center text-center>
  <form (ngSubmit)="onSubmit()" [formGroup]="pawprintform">
  <ion-grid class="grid">
    <ion-row center>
        <ion-col  class="column">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Versión</ion-label>
            <ion-input formControlName="version"></ion-input>
          </ion-item>
          <ion-button type="submit" expand="default" fill="solid">Registrar huella</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
